<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxx.school.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.xxxx.school.vo.Course" >
    <id column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_type" property="courseType" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_phone" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_id, course_name, course_type, teacher_name, teacher_phone, class_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_course
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_course
    where course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xxxx.school.vo.Course" >
    insert into tb_course (course_id, course_name, course_type, 
      teacher_name, teacher_phone, class_id
      )
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{courseType,jdbcType=VARCHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{teacherPhone,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxxx.school.vo.Course" >
    insert into tb_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseType != null" >
        course_type,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="teacherPhone != null" >
        teacher_phone,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.school.vo.Course" >
    update tb_course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxxx.school.vo.Course" >
    update tb_course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_type = #{courseType,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>

  <!-- 通过用户名查询用户记录，返回用户对象 -->
  <select id="queryCourseByName" parameterType="string" resultType="com.xxxx.school.vo.Course">
    select
    <include refid="Base_Column_List"/>
    from
    tb_course
    where
    course_name = #{courseName}
  </select>

  <!-- 多条件查询 -->
  <select id="selectByParams" parameterType="com.xxxx.school.query.CourseQuery"
          resultType="com.xxxx.school.vo.Course">
    select
    <include refid="Base_Column_List"/>
    from
        tb_course
    <where>
      is_valid = 1
      <if test="null !=courseId and courseId !=''">
        and course_id like concat('%',#{courseId},'%')
      </if>
      <if test="null !=courseType and courseType !=''">
        and course_type =#{courseType}
      </if>
      <if test="null !=teacherName and teacherName !=''">
        and teacher_name =#{teacherName}
      </if>
    </where>
  </select>


  <!-- 删除记录 -->
  <update id="deleteBatch">
    update
        tb_course
    set
        is_valid = 0
    where
        course_id
    in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </update>
</mapper>